html, body{
  height: 100%;
}
/* hero-image */
.hero-text {
  text-align: center;
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
}

  #presentation{
    background-image: url(/home/lily/cvNumerique/assets/img/spacePattern.jpg);
  }
  #biographie{
    background-color:#000d1a;
  }


  .card-text{
    font-size:1rem;
  }
  .profilColor{
    filter: grayscale(100%);
    width:100%;
    height:auto;
  }
  .profilColor:hover{
    filter: grayscale(0%);
  }
  .formationImg{
    filter: grayscale(100%);
    width:100%;
    height:auto;
  }
  .formationImg:hover{
    filter: grayscale(0%);
  }
  .experienceImg{
    filter: grayscale(100%);
    width:100%;
    height: auto;
  }
  .experienceImg:hover{
    filter: grayscale(0%);
  }
#howIWasteMyTime{
  width:100%;
  height:auto;
  padding:5%;
}
#Ai{
  width: 150px;
  height:150px;
  border-style: solid;
  border-color: yellow;
  margin:auto;
  font-size:1rem;
}
#Ai:hover{
  width: 175px;
  height:175px
  color:grey;
  background-image:linear-gradient(#ffff66,yellow);
  	-webkit-text-fill-color:#383838;
}

#cards{
  display: flex;
}
#howIWasteMyTime{
  display: flex;
}
@media screen and (max-width: 600px)
{
  #cards{
    display: block;
  }
  #howIWasteMyTime{
    display: block;
  }
}
