html, body{
  height: 100%;
}
/* hero-image */
.hero-text {
  text-align: center;
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
}
/* début navbar */
.navbar{
  top:0px;
  overflow: hidden;
  z-index: 1;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  width: 100%;
  height:35px;

}
.liNav{
  margin:auto;
  color:white;
}
.liNav:hover{
  background-color:#ffbf00;
  padding: 5px;
  color:black;
}
  /* fin navbar */
  #presentation{
    background-image: url(/home/lily/cvNumerique/assets/img/spacePattern.jpg);
  }
  #pres{
    color: white;
  }
  #biographie{
    background-color:#000d1a;
  }


  .card-text{
    font-size:1rem;
  }
  .profilColor{
    filter: grayscale(100%);
    width:225px;
    height:180px;
  }
  .profilColor:hover{
    filter: grayscale(0%);
  }
  .formationImg{
    filter: grayscale(100%);
    width:225px;
    height:180px;
  }
  .formationImg:hover{
    filter: grayscale(0%);
  }
  .experienceImg{
    filter: grayscale(100%);
    width:225px;
    height: 180px;
  }
  .experienceImg:hover{
    filter: grayscale(0%);
  }
#howIWasteMyTime{
  width:100%;
  height:450px;
}
#Ai{
  width: 150px;
  height:150px;
  border-style: solid;
  border-color: yellow;
  margin:auto;
  font-size:1rem;
}
#Ai:hover{
  width: 175px;
  height:175px
  color:grey;
  background-image:linear-gradient(#ffff66,yellow);
  	-webkit-text-fill-color:#383838;
}
